# Añade tu API Key de OpenRouter aquí
# Puedes obtenerla en https://openrouter.ai/
VITE_OPENROUTER_API_KEY=tu_api_key_aqui

# Configuración de Supabase - Obtén esto en project settings -> API
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=